manifest {
    name = 'wcpg2026'
    description = 'eQTL analysis of coculture data with SAIGE-QTL'
    nextflowVersion = '>=25.10.0'
}

params {
    adata = null
    cell_type_col = 'cell_type'
    treat_col = 'treat'
    qcovar = 'village,sex'
    min_n_donors = 30
    min_n_cells = 30
    min_cells_frac = 0.1
    min_donor_frac = 0.5
    gene_gtf = null
    cis_window = 1000000
    vcf = null
    donors = null
    source_fasta = null
    target_fasta = null
    chain_file = null
    min_mac = 10
    max_missing = 0.02
    ld_exclude_bed = null
    n_pcs = 3
    saige_tol = 0.02
    saige_maxiter = 20
    saige_markers_per_chunk = 1000
    outdir = 'results'
    help = false
}

process {
    errorStrategy = 'terminate'
    maxForks = 4
    shell = ['/bin/bash', '-euo', 'pipefail']
}

profiles {
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "${projectDir}/work/singularity"
        process.module = 'Singularity/1.2.5'
    }
    slurm {
        process {
            executor = 'slurm'
            queue = 'normal'

            // Initial resource requests; tune using the execution reports.
            cpus = 1
            memory = '8 GB'
            time = '24h'

            withName: PREPARE_DONORS {
                memory = '1 GB'
                time = '1h'
            }
            withName: 'PLINK_.*' {
                cpus = 4
            }
            withName: PREPARE_QTL_PHENOTYPES {
                cpus = 1
                memory = '64 GB'
                time = '4h'
            }

            withName: SAIGE_STEP1_FIT_NULL_GLMM {
                cpus = 1
                memory = '4 GB'
                time = '1h'
                maxForks = 50
            }
            withName: SAIGE_STEP2_TEST_CIS {
                cpus = 1
                memory = '4 GB'
                time = '1h'
                maxForks = 50
            }
            withName: SAIGE_STEP3_GENE_PVALUES {
                cpus = 1
                memory = '1 GB'
                time = '10m'
                maxForks = 50
            }
        }
        executor {
            queueSize = 50
            jobName = { fixed_name = "${task.name}" -> fixed_name.replaceAll( '[():\\s]', '_' ) }
        }
    }
}
trace {
    enabled = !params.help
    file = "${params.outdir}/execution/trace.tsv"
    overwrite = true
}
report {
    enabled = !params.help
    file = "${params.outdir}/execution/report.html"
    overwrite = true
}
timeline {
    enabled = !params.help
    file = "${params.outdir}/execution/timeline.html"
    overwrite = true
}
